[submodule "pacemaker"]
	path = pacemaker
	url = https://github.com/paulxjp/pacemaker
[submodule "AnalyzeKdump"]
	path = AnalyzeKdump
	url = https://github.com/FrankZhu888/AnalyzeKdump
[submodule "repair-script-library"]
	path = repair-script-library
	url = https://github.com/malachma/repair-script-library
